* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: url(/assets/images/login_bg.jpg) no-repeat center;
  background-size: cover;
}
.logo {
  margin-top: 20px;
}

.box {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 30px;
}
.title {
  height: 60px;
  background: url(/assets/images/login_title.png) no-repeat center;
}

.fr {
  float: right;
}

.register {
  display: none;
}
.layui-form-item {
  position: relative;
}
.layui-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.layui-input {
  padding-left: 30px;
}
